# Thie timer unit is for death-knell service
# By xun
#

[Unit]
Description=Timer unit for death-knell to run every 1 hour
Requires=death-knell.service

[Timer]
Unit=death-knell.service
OnCalendar=hourly

[Install]
WantedBy=timers.target
